.App {
    font-family: "Rubik Distressed";
    background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.83) 0%,
        rgba(170, 139, 255, 1) 100%
    );
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-Logo {
    height: 20vh;
}

.App-Hero {
    height: 40vh;
}

.Hero-section {
    text-align: center;
    padding: 50px;
    border: 1px dashed gray;
}

.App-Search-Bar {
    text-align: center;
    /* margin: 50px; */
}

.Search-Bar-Description {
    color: red;
    text-align: center;
    /* margin-left: 85px; */
    padding: 0;
}
